<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the footer</h1>


    <table>
        {% for dogs in dog %}
        <tr>
        <th>Dogname</th>
        <th>Breed</th>
        </tr>
        <tr>
            <td>{{dogs.dogname}}</td>
            <td>{{dogs.breed}}</td>
        </tr>
        {% endfor%}
    </table>
</body>
</html>